#remove session files
**session**

#remove pycache files
**pycache**

#remove config.py
zerotwobot/config.py

#remove elevates_users.json
zerotwobot/elevated_users.json

#remove log files
*log.txt

#remove env files

**env

#remove vscode files if it exists
**vscode

testing.py

**pyc