aiohttp==3.8.0
aiosignal==1.2.0
alphabet-detector==0.0.7
anyio==3.3.4
APScheduler==3.6.3
async-lru==1.0.2
async-timeout==4.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
coffeehouse==2.2.6
colorama==0.4.4
cryptography==35.0.0
CurrencyConverter==0.16.5
decorator==5.1.0
emoji==1.6.1
feedparser==6.0.8
ffmpeg-python==0.2.0
frozenlist==1.2.0
future==0.18.2
geographiclib==1.52
geopy==2.2.0
google-reverse-search==0.1.3
googletrans==3.1.0a0
greenlet==1.1.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.11.1
httpcore==0.9.1
httpx==0.13.3
humanize==3.12.0
hyperframe==5.2.0
idna==2.10
jikanpy==4.3.2
joblib==1.1.0
lxml==4.6.5
Markdown==3.3.4
markdown2==2.4.1
multidict==5.2.0
nltk==3.6.6
numpy==1.22.2
opencv-python==4.5.5.62
opencv-python-headless==4.5.5.62
packaging==21.2
Pillow==9.0.1
pretty-errors==1.2.24
psutil==5.8.0
psycopg2-binary==2.9.2
pyaes==1.6.1
pyasn==1.6.1
pyasn1==0.4.8
pycparser==2.21
pynewtonmath==1.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyrate-limiter==2.4.7
Pyrogram==1.2.9
PySocks==1.7.1
python-dotenv==0.19.2
python-telegram-bot==13.11
python-whatanime==0.1.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
regex==2021.11.10
requests==2.26.0
rfc==0.1.0
rfc3986==1.5.0
rsa==4.7.2
sgmllib3k==1.0.0
simplejson==3.17.5
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
spamwatch==0.3.0
speedtest-cli==2.1.3
spongemock==0.3.4
SQLAlchemy==1.4.32
telegraph==2.1.0
Telethon==1.23.0
TgCrypto==1.2.2
tornado==6.1
tqdm==4.62.3
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.1
ujson==4.2.0
urllib3==1.26.7
webencodings==0.5.1
wikipedia==1.4.0
yarl==1.7.2
zalgo-text==0.6
